.titlebar {
  height: 32px;
  background: #121212;
  border-bottom: solid #27272a 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag; // Makes the titlebar draggable
  user-select: none;
  


  .titlename {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 16px;
    gap: 16px;
    
    .iris-image {
      width: 20px;
      aspect-ratio: 1/1;

      image {
        height: 100%;
        width: 100%;
      }
    }

    .window-title {
      color: #fff;
      font-size: 12px;
    }
  }
  
  

  .window-controls {
    display: flex;
    -webkit-app-region: no-drag; // Allows clicking buttons
    
    .window-control-button {
      width: 46px;
      height: 32px;
      border: none;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        
        &.close {
          background-color: #e81123;
        }
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
