.volume-control-wrapper {
    position: absolute;
    left: calc(100% + 15px);
    top: 50%;
    translate: 0% -50%;
    transform: translate(-50%) translateY(-10%) rotate(-90deg);
    transform-origin: center;
    display: flex;
    align-items: center;
    gap: 1vh;
    z-index: 1;
    width: 100%;
    
}

.volume-icon {
    color: #fff;
    cursor: pointer;
    font-size: 20px !important;
    opacity: 0.7;
    transition: opacity 0.2s ease;
    transform: rotate(90deg); // Keep icons upright

    &:hover {
        opacity: 1;
    }
}

.volume-slider-container {
    width: 95%; // This will become the height when rotated
    height: 4px;
    position: relative;
    cursor: pointer;
    z-index: 10;
}


.volume-slider {
    pointer-events: all; // Ensure click events work
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
    background: transparent;


    // Track styles
    &::-webkit-slider-runnable-track {
        background: linear-gradient(
            to right,
            #fff 0%,
            #fff var(--volume-percentage),
            rgba(255, 255, 255, 0.3) var(--volume-percentage),
            rgba(255, 255, 255, 0.3) 100%
        );

        height: 4px;
        border-radius: 99999999999px;
    }

    // Thumb styles
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -3px;
        background-color: #fff;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    // Hover states
    &:hover {
        &::-webkit-slider-thumb {
            opacity: 1;
        }

        &::-moz-range-thumb {
            opacity: 1;
        }
    }

    // Focus states for accessibility
    &:focus {
        outline: none;

        &::-webkit-slider-thumb {
            opacity: 1;
        }

        &::-moz-range-thumb {
            opacity: 1;
        }
    }
}



@media(hover:hover) {

    .volume-icon:hover,
    .volume-slider-container:hover .volume-slider-handle {
        opacity: 1;
    }
}