.song-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: --color-1 0.8s ease-in-out, --color-2 0.8s ease-in-out, --color-3 0.8s ease-in-out, --color-4 0.8s ease-in-out, --color-5 0.8s ease-in-out, --color-6 0.8s ease-in-out;
  filter: brightness(65%);
}

.animated-gradient {
  background: linear-gradient(215deg, var(--color-1), var(--color-2), var(--color-3)), linear-gradient(135deg, var(--color-4), var(--color-5), var(--color-6));
  background-size: 200% 200%, 200% 200%;
  background-blend-mode: overlay;
  animation: gradient 40s ease infinite;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(100px);
  background: rgba(0, 0, 0, 0.3);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
